/********************
  Header Css Styles *
  *******************/
.header {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.top__header {
  background-color: var(--second-color);
  color: var(--white-color);
  height: 80px;
  padding: 10px 0;
  transition-duration: 0.3s;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: aliceblue;
}
.logo h1 > span {
  color: var(--primary-color);
}
.logo p {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-4);
  margin-top: -3px;
}

/*** search bar */
.search {
  background-color: var(--second-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  transition: 0.3s ease-in-out;
}
.search.active {
  transform: translateY(0);
}
.search__warpper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  position: relative;
  top: 35px;
}

.wrrapper__content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.search__input {
  height: 100%;
  width: 100%;
  color: #212529;
  line-height: normal;
  border-radius: 0;
  /* border-radius: 20px 0 0 20px; */
  padding: 10px;
}
.search__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: unset;
}

.search__icon {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  height: 100%;
  width: 50px;
  border-radius: 0;
  color: rgb(41, 39, 39);
  background-color: var(--white-color) !important;
  /* border-color: var(--primary-color) !important; */
}
.search__icon:lang(ar) {
  right: unset;
  left: 0;
}
.search__toggle__close {
  color: #fff;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
}
.search__toggle__close:lang(ar) {
  right: 10px;
  left: unset;
}
.search__toggle__close:hover {
  color: var(--primary-color) !important;
}
.search__toggle__close i {
  font-size: 35px;
  font-weight: 600;
}

/** search__resulte **/
.search__resulte__content {
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
}
.search__resultes {
}
.search__resulte__content::-webkit-scrollbar {
  width: 7px;
}
.search__resultes .search__resulte__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
}
.search__resulte__item__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}
.search__resulte__item .img__container {
  width: 90px;
  background-color: var(--card-bg-04);
  border-radius: 5px;
}
.search__resulte__item .img__container img {
  width: 100%;
}
.search__resulte__item .item__desc {
}

/*** nav__icons */
.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
.nav__icons span {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.nav__icons span:hover {
  cursor: pointer;
}
.nav__icons a:hover {
  cursor: pointer;
  color: inherit;
}
.nav__icons i {
  font-size: 1.4rem;
}
.fav__icon,
.cart__icon {
  position: relative;
}
.nav__icons .badge {
  position: absolute;
  top: -3px;
  right: 0%;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

/* Lang - Dropdown */
.nav__icons .lang-container .dropdown {
  position: relative;
}
.nav__icons .lang-container .lang-icon {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}
.nav__icons .lang-container .lang-icon::after {
  content: "\ea4e";
  border: none !important;
  top: 5px;
  right: -17px;
  position: absolute;
}
.nav__icons .lang-container .lang-icon img {
  width: 25px;
  height: 25px;
}
.nav__icons .lang-container .dropdown__menu {
  top: 0 !important;
  left: -40px !important;
}
.nav__icons .lang-container .dropdown__menu .dropdown-item {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.nav__icons .lang-container .dropdown__menu .dropdown-item > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* user icon  */
.user__icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}
.user__icon::after {
  content: "\ea4e";
  border: none !important;
}
.user__icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user__caption {
  margin-bottom: -8px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.user__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  transition: color 0.4s ease-in;
}

.nav__icons a:hover .user__caption {
  color: var(--white-color) !important;
}

/*** dropdown menu */
.dropdown__menu .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}

/*** mobile menu */
.mobile__menu {
  display: none;
  color: var(--white-color);
}

/* Responsive Styles 500px */
@media (max-width: 500px) {
  .logo h1 {
    font-size: 1rem;
  }
  .nav__icons {
    column-gap: 3px;
  }
}

/* Responsive Styles 768px */
@media (max-width: 768px) {
  /* Search Bar */
  .search__warpper {
    width: 95%;
    top: 3rem;
    position: relative;
  }
  .search__resultes {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    margin-bottom: 20px;
  }
  .search__resultes::-webkit-scrollbar {
    width: 5px !important;
  }

  .search__resulte__item .btn-primary {
    display: none;
  }

  .nav__icons .lang-container {
    display: flex;
  }

  /* nav__icons */
  .nav__icons {
  }
  .nav__icons .fav__icon {
    display: none;
  }
  /* User */
  .user__info {
    display: none;
  }

  .mobile__menu {
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }

  .mobile__menu:hover {
    color: var(--primary-color);
  }
}

/* Responsive Styles 992px */
@media (max-width: 992px) {
  /* sticky__header 
  .sticky__header .main__navbar {
    opacity: 0;
    visibility: hidden;
    top: -300px;
  }*/
  /* User */
  .user__info {
    display: none;
  }
  .dropdown__menu {
    left: 0;
  }
}
