/********************
*** Payment Card ***
******************/

.payment__card .form-control {
  height: 50px;
  border: 2px solid #eee;
  border-radius: 6px;
  font-size: 14px;
}

.payment__card .form-control:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;

  box-shadow: none;
}

.payment__card .card__item {
  margin-bottom: 20px;
}

.payment__card .card__input__wrapper {
  position: relative;
}

.payment__card .card__input__wrapper .input__icon {
  position: absolute;
  top: 16px;
  left: 11px;
  color: #989898;
}

.payment__card .card__input__wrapper input {
  text-indent: 25px;
}
.payment__card .card-text {
  font-size: 14px;
  color: #989898;
}

.payment__card .certificate-text {
  font-size: 12px;
}
