.modal-content {
  border-radius: 0 !important;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-content .modal-header .btn-close {
  margin: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 11;
}

.modal-content .modal-header .btn-close:focus {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.add_new_item {
  position: relative;
}

.add_new_item .modal__title {
  position: absolute;
  top: -50px;
}

.order__bill .icon {
  font-size: 5rem;
}

.order__bill h3 {
  font-size: 1.5rem;
  color: #413d3dca;
}

/** OrderConfirmation **/

.OrderConfirmation {
  margin: auto;
}

.OrderConfirmation .icon__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border: 2px solid #eee;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.OrderConfirmation button {
  border-radius: 5px;
}
